<ul class="dropdown-menu hasLanguageFlag" aria-labelledby="dLabel">
{% for key in langhelper.languages %}
    {% if key != langhelper.current %}
        <li>
                <a href="{{ langhelper_pageurl(page, key) }}" class="external"><img src="{{ langhelper_flagimg(key) }}" alt="{{  key }}">{{ langhelper_native_name(key)|capitalize }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>